<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
            <h1>No Orders!</h1>
        <% } else {%>
            <ul>
            <%  for(order of orders) { %>
                <li>
                    <h1><%= order.id %></h1>
                    <ul><% for(product of order.products) { %>
                        <li>
                           <h2><%= product.title %> (<%= product.orderItem.quantity %>)</h2> 
                        </li>
                        <% } %>
                    </ul>               
                </li>
            <% } %>
            </ul>
        <% } %>
        </main>
        <%- include('../includes/end.ejs') %>